<div class="container">
  <h3>Comprar</h3>
  <button class="btn btn-warning" (click)="Comprar()">
    Comprar
  </button>
  <div class="table-responsive ">
    <table class="table  table-striped">
      <thead>
        <tr class="table-striped ">
          <th scope="col">id</th>
          <th scope="col">Nombre </th>
          <th scope="col">Descrpcion</th>
          <th scope="col">Precio</th>
          <th scope="col">Precio + Iva</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let li of ListProductos" class="table-striped ">
          <td>{{li.id}} </td>
          <td>{{li.nombreProducto}}</td>
          <td>{{li.descripcionProducto}}</td>
          <td>{{li.precioSinIva}}</td>
          <td>{{li.precioTotal}} </td>
          <td>
            <div class="btn-group" role="group">


              <button (click)="Menos(li)" class="btn btn-secondary">-</button>
              <input type="number" min="1" value="{{li.cantidad }}" width="20" />
              <button (click)="Mas(li)" class="btn btn-secondary">+</button>
              <button (click)="Agregar(li)" class="btn btn-success">Agregar</button>
              <button (click)="Eliminar(li)" class="btn btn-danger">Eliminar</button>
            </div>


          </td>
          <label></label>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
