<div class="container">
  <p>list-cliente works!</p>

  <div class="table-responsive ">
    <table class="table  table-striped">
      <thead>
        <tr class="table-striped ">
          <th scope="col">Id </th>
          <th scope="col">Nombre </th>
          <th scope="col">Telefono</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let li of listClientes" class="table-striped ">
          <td>{{li.id}} </td>
          <td>{{li.nombre}}</td>
          <td>{{li.telefono}}</td>
          <td>
            <div class="btn-group" role="group">


              <button (click)="Seleccionar(li)" class="btn btn-success">Seleccionar</button>
             
            </div>


          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
